@model KardexEscolar.Models.Alumno
@{
    ViewData["Title"] = "Datos del alumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="offset-12">
            <div class="card border">
                <div class="card-header">
                    <h3 class="display-6">Datos Personales</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Clave Única: <strong>@Html.DisplayFor(m => m.Clave_Unica) </strong></li>
                        <li class="list-group-item">Nombre(s): <strong>@Html.DisplayFor(m => m.Nombre) </strong></li>
                        <li class="list-group-item">Apellido Paterno: <strong>@Html.DisplayFor(m => m.Apellido_Paterno) </strong></li>
                        <li class="list-group-item">Apellido Materno: <strong>@Html.DisplayFor(m => m.Apellido_Materno) </strong></li>
                        <li class="list-group-item">Semestre: <strong>@Html.DisplayFor(m => m.Semestre) </strong></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

